body {
  background-color: #f8f8fd;
  color: #363853;
}
.container {
  width: 1270px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  font-family: Rubik;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  padding-top: 55px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo {
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  letter-spacing: 0.05em;
}
.header .logo b {
  color: #ff6838;
  font-weight: normal;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .menu .menu_link {
  padding-right: 60px;
}
.header .menu .menu_link a {
  padding: 10px;
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
}
.header .menu .menu_link a:hover {
  background: #ff7a50;
  color: white;
  cursor: pointer;
}
.header .menu .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu .product > div {
  padding-right: 60px;
}
.header .menu .product .product_cart {
  position: relative;
}
.header .menu .product .product_cart a.cart:after {
  width: 14px;
  height: 14px;
  text-align: center;
  margin: auto 0;
  content: "4";
  position: absolute;
  top: -4px;
  left: 14px;
  border-radius: 50%;
  background: #ff7a50;
  color: white;
  font-size: 10px;
  line-height: 16px;
}
.local_button {
  padding: 14px 28px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: #ff7a50;
  -webkit-box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
          box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
  border-radius: 5px;
  border: 0;
}
.hero .sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .sec1 .lblock h1 {
  font-weight: 500;
  font-size: 66px;
  line-height: 78px;
  text-transform: capitalize;
}
.hero .sec1 .lblock h1 b {
  color: #ff6838;
}
.hero .sec1 .lblock span {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}
.hero .sec1 .lblock .explore {
  padding-top: 45px;
  font-size: 20px;
  line-height: 24px;
}
.hero .sec1 .lblock .explore a {
  padding-left: 30px;
  color: black;
}
.hero .sec1 .rblock {
  position: relative;
}
.hero .sec1 .rblock .scooterGuy {
  max-height: 680px;
  z-index: 100;
  position: relative;
}
.hero .sec1 .rblock .ic1 {
  position: absolute;
  top: 120px;
  left: 110px;
}
.hero .sec1 .rblock .ic2 {
  position: absolute;
  top: 48px;
  left: 501px;
}
.hero .sec1 .rblock .ic3 {
  position: absolute;
  top: 10px;
  left: 545px;
}
.hero .sec1 .rblock .ic4 {
  position: absolute;
  top: 10px;
  left: 230px;
}
.sec2 .sec2-title h2 {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 45px;
}
.sec2 .sec2-title h2 b {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #ff6838;
}
.sec2 .sec2-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin-bottom: 38px;
}
.sec2 .sec2-tabs .tabs-item {
  background: white;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec2 .sec2-tabs .tabs-item svg {
  padding: 0 9px;
}
.sec2 .sec2-tabs .tabs-item:hover,
.sec2 .sec2-tabs .tabs-item:active,
.sec2 .sec2-tabs .tabs-item.active {
  cursor: pointer;
  background: #ff7a50;
  color: white;
}
.sec2 .sec2-tabs .tabs-item:hover svg path,
.sec2 .sec2-tabs .tabs-item:active svg path,
.sec2 .sec2-tabs .tabs-item.active svg path {
  fill: white;
}
.sec2 .swiper-slider .swipper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sec2 .swiper-slider .swipper-wrapper .swiper-slide {
  width: 210px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec2 .swiper-slider .swipper-wrapper .swiper-slide .food {
  margin-bottom: -10px;
}
.sec2 .swiper-slider .swipper-wrapper .swiper-slide .stars {
  margin-top: auto;
  margin-bottom: 28px;
}
.sec2 .swiper-slider .swipper-wrapper .swiper-slide .food_name {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0 5px;
  margin: 10px 0;
}
.sec2 .swiper-slider .swipper-wrapper .swiper-slide .cost {
  margin: 10px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.sec2 .swiper-slider .swipper-wrapper .swiper-slide .addToCart {
  font-size: 15px;
  line-height: 18px;
  background: #ff7a50;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 8px 13px;
  margin-bottom: 22px;
  cursor: pointer;
}
.sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec3 .rblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 137px;
}
.sec3 .rblock .title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  text-transform: capitalize;
}
.sec3 .rblock .title b {
  font-weight: 500;
  color: #ff7a50;
}
.sec3 .rblock .t1 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
}
.sec3 .rblock .usp {
  padding-top: 20px;
}
.sec3 .rblock .usp .usp_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec3 .rblock .usp .usp_item span {
  margin-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  text-transform: capitalize;
}
.sec3 .rblock .seeMore {
  background: #ff7a50;
  -webkit-box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
          box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
  border-radius: 30px 30px 1px 30px;
  margin-top: 50px;
  padding: 17px 44px;
}
.sec3 .rblock .seeMore span {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.sec4 .title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  /* identical to box height, or 83% */
  text-transform: capitalize;
}
.sec4 .title b {
  font-weight: 500;
  color: #ff6838;
}
.sec4 .food_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sec4 .food_wrapper .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ffffff;
  border-radius: 53px 5px;
  margin-right: 43px;
  margin-bottom: 43px;
}
.sec4 .food_wrapper .item .item_title {
  margin: 22px auto 14px 20px;
}
.sec4 .food_wrapper .item .time_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 22px;
}
.sec4 .food_wrapper .item .time_wrapper .icon {
  margin: 0 10px 0 21px;
}
.sec4 .food_wrapper .item .time_wrapper .next {
  background: #ff7a50;
  -webkit-box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.19);
          box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.19);
  border-radius: 20px 20px 0px 20px;
  padding: 2px 27.5px;
  margin-left: 30px;
}
.sec5 {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec5 .lblock .title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  /* identical to box height, or 139% */
  text-transform: capitalize;
}
.sec5 .lblock .title span {
  color: #ff6838;
}
.sec5 .t1 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  /* or 150% */
  color: #363853;
  opacity: 0.9;
}
.sec5 .download {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec5 .download .downLink {
  margin-right: 30px;
}
.sec6 {
  margin-top: 165px;
}
.sec6 .title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */
  letter-spacing: 0.5px;
}
.sec6 .title span {
  color: #ff6838;
}
.sec6 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec6 .wrapper .rblock .t1 {
  max-width: 573px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec6 .wrapper .rblock .t1::before {
  position: absolute;
  top: -10px;
  left: -40px;
  content: url(../image/Iconly/Light/“.png);
}
.sec6 .wrapper .rblock .t1::after {
  position: absolute;
  bottom: -30px;
  right: -40px;
  content: url(../image/Iconly/Light/“2.png);
}
.sec6 .wrapper .rblock .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sec6 .wrapper .rblock .down .wrapperName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sec6 .wrapper .rblock .down .wrapperName .name {
  margin-top: 74px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ff7a50;
}
.sec6 .wrapper .rblock .down .wrapperName .who {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #aaaaaa;
}
.sec6 .wrapper .rblock .down .NaviButtons a {
  text-decoration: none;
}
.sec6 .wrapper .rblock .down .NaviButtons a:nth-child(1) {
  padding-right: 55px;
}
.sec7 {
  margin-top: 125px;
}
.sec7 .sec7Wrapper {
  background: #ff7a50;
  border-radius: 20px;
  padding-bottom: 78px;
}
.sec7 .sec7Wrapper .title h2 {
  padding-top: 59px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}
.sec7 .sec7Wrapper .title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
.sec7 .sec7Wrapper .input-wrapper {
  background: #ffffff;
  -webkit-box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
  margin: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec7 .sec7Wrapper .input-wrapper input {
  margin: 24px 43px;
  margin-right: auto;
  border: 0;
  min-width: 207px;
}
.sec7 .sec7Wrapper .input-wrapper input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #363853;
  opacity: 0.9;
}
.sec7 .sec7Wrapper .input-wrapper input::-moz-placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #363853;
  opacity: 0.9;
}
.sec7 .sec7Wrapper .input-wrapper input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #363853;
  opacity: 0.9;
}
.sec7 .sec7Wrapper .input-wrapper input::placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #363853;
  opacity: 0.9;
}
.sec7 .sec7Wrapper .input-wrapper button {
  margin: 10px;
  padding: 15px;
  padding-right: 33px;
  background: #ff7a50;
  border: 0;
  border-radius: 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.sec7 .sec7Wrapper .input-wrapper button img {
  margin-left: 11px;
  margin-right: 8px;
}
.footer {
  margin-top: 99px;
}
.footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .top .lblock .logo {
  font-weight: 500;
  font-size: 33px;
  line-height: 80px;
  letter-spacing: 0.05em;
}
.footer .top .lblock .logo span {
  color: #ff6838;
}
.footer .top .lblock .contact {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #37383d;
}
.footer .top .lblock .contact .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .top .lblock .contact .item img {
  width: 20px;
  height: 20px;
  margin: 10px 10px;
}
.footer .top .lblock .contact .item span {
  margin: auto 0;
}
.footer .top .lblock .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.footer .top .lblock .social a {
  margin-right: 13px;
}
.footer .top .lblock .social a .img-wrapper {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #eeeeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .top .rblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 118px;
  margin-top: 22px;
}
.footer .top .rblock .miniContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  line-height: 49px;
  letter-spacing: 0.01em;
  color: #37383d;
  margin-left: 99px;
}
.footer .top .rblock .miniContainer a {
  color: #37383d;
  text-decoration: none;
}
.footer hr {
  margin-left: -105px;
  width: 100vw;
  opacity: 0.2;
}
.footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-bottom: 10px;
}
.footer .bottom span {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
.footer .bottom .confidence {
  margin-left: auto;
}
.footer .bottom .confidence a {
  margin-left: 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
